<%= simple_form_for [@post, Comment.new] do |f| %>
  <% if @comment && @comment.errors.any? %>
    <% @comment.errors.each do |attribute, error| %>
      <ul>
        <li><% error %></li>
      </ul>
    <% end %>
  <% end %>
  <%= f.input :name, label_html: { class: 'type' }, prompt: :translate %>
  <%= f.input :body, label_html: { class: 'type' }, prompt: :translate %>
  <%= f.button :submit %>
<% end %>
