<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "nju.jpg" %>
    <div id="content">
      <h1>Kazik Piętka</h1>
      <p>Kazik. Jedzie do Gruzji bo słyszał że jest tam fajnie i można pochwalić
          się zdjęciem spod Kazbeku na Insta. Jak był mały bardzo chciał być fajny
          więc został pilotem awionetek, co pozwoliło mu wydobyć się z jaskini przegrywu.
          Na co dzień koduje.</p>
    </div>
  </div>

  <div id="profile_image">
    <%= image_tag "maciek.jpg" %>
    <div id="content">
      <h1>Maciek Rafałowski</h1>
      <p>Maciek. Jedzie do Gruzji bo po trzech latach gadania o tym jest to dla
          niego punkt honoru. Zainteresowany głównie spektakularnym tłem do nieumiarkowanej
          degustacji wina. Na co dzień student prawa, nudziarz.</p>
    </div>
  </div>

  <div id="profile_image">
    <%= image_tag "bartek.jpg" %>
    <div id="content">
      <h1>Bartek Pacholski</h1>
      <p>Bartek. Bartek jedzie do Gruzji troche siłą inercji, wie że jedzie ale chyba
         jeszcze nie wie do końca gdzie. Ogólnie interesują go wysokooktanowe napoje
         i kruczowłose Gruzinki. Jest też niezłym piechurem, który lubi narzucać chore tempo.
         Udaje że wie czym różni się kodeks od rozporządzenia.
</p>
    </div>
  </div>

</div>
