<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "nju.png" %>
  </div>

  <div id="content">
    <h1> Hey, I'm Kazik</h1>
    <p>Welcome, to my blog</p>
    <p>Under construction</p>
  </div>
</div>
